body {
  font-family: Helvetica;
  background-color: rgb(228, 232, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}
a {
  all: unset;
}
a:hover {
  cursor: pointer;
  color: rgb(245, 88, 15);
}
.sorting {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  padding-top: 3rem;
}
.dropdown {
  position: relative;
}
.dropdownBtn {
  display: flex;
  width: 5rem;
}
.dropdownContent {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: aliceblue;
  width: 4rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.show {
  display: block;
  padding-left: 1rem;
}
form {
  display: flex;
  justify-content: center;
  gap: 3px;
}
.book-display {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-items: flex-end;
  justify-content: center;
  margin-top: 1rem;
}
.book-front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  width: 5rem;
  border-radius: 3px;
  border-right: 5px outset;
  border-top: 8px outset;
}
.title-front {
  text-align: center;
}
.author-front {
  position: absolute;
  bottom: 2px;
  font-size: smaller;
  text-align: center;
}

.book-shelf {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.book {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom: 1rem solid burlywood;
}
.book:hover {
  zoom: 120%;
  cursor: default;
}
.title {
  writing-mode: vertical-rl;
  text-align: left;
}
.author {
  font-size: x-small;
  width: 3rem;
  text-align: center;
  margin-bottom: 2px;
}
.shelf {
  height: 1rem;
  background-color: burlywood;

  margin-top: 1px;
}
/*Individual book styling */
.isbn9780062476371 {
  height: 9rem;
  background-color: rgb(60, 87, 184);
}
.isbn9780062472106 {
  height: 9.5rem;
  background-color: rgb(168, 30, 94);
}
.isbn9780755305094 {
  height: 8.9rem;
  background-color: rgb(237, 183, 95);
}
.isbn9781473214712 {
  height: 8.5rem;
  background-color: rgb(248, 232, 212);
}
.isbn9780441172719 {
  height: 8rem;
  background-color: rgb(241, 199, 84);
}
.isbn9780593098233 {
  height: 7.9rem;
  background-color: rgb(47, 94, 171);
}
.isbn9781473233782 {
  height: 8.1rem;
  background-color: rgb(226, 152, 72);
}
.isbn9780593098257 {
  height: 8rem;
  background-color: rgb(63, 177, 205);
}
.isbn9780593098264 {
  height: 8.2rem;
  background-color: rgb(227, 111, 85);
}
.isbn9781804940822 {
  height: 7.8rem;
  background-color: rgb(173, 112, 31);
}
.isbn9781804940839 {
  height: 7.8rem;
  background-color: rgb(37, 118, 190);
}
.isbn9781804940846 {
  height: 7.8rem;
  background-color: rgb(34, 116, 146);
}
.isbn9780345391803 {
  height: 11rem;
  background-color: rgb(38, 164, 101);
}
.isbn9781529034530 {
  height: 11.9rem;
  background-color: rgb(15, 125, 70);
}
.isbn9781473222175 {
  height: 11.1rem;
  background-color: rgb(106, 171, 228);
}
.isbn9780345391834 {
  height: 10.9rem;
  background-color: rgb(65, 59, 173);
}
.isbn9780008117498 {
  height: 10rem;
  background-color: rgb(230, 174, 44);
}
.isbn9780008117504 {
  height: 9.8rem;
  background-color: rgb(58, 127, 188);
}
.isbn9780008117511 {
  height: 9.9rem;
  background-color: rgb(211, 185, 80);
}
.isbn9780008117528 {
  height: 10.2rem;
  background-color: rgb(169, 71, 180);
}
.isbn9780008117535 {
  height: 10rem;
  background-color: rgb(169, 51, 84);
}
